[Desktop Entry]
Type=Action
Name=Edit as root
Name[it]=Modifica come root
Name[es]=Editar como root
Name[de]=Oeffnen mit Root-Rechten
Name[pt]=Editar como root
Name[fr]=Modifier en tant que root
Name[nl]=Bewerken als root
Name[pl]=Edytuj jako root
Name[ru]=Редактировать как root
Name[cz]=Upravit jako root
Icon=dialog-password
Profiles=root-edit;

[X-Action-Profile root-edit]
MimeTypes=text/plain;
Exec=lxqt-sudo featherpad %f
Name=Default profile
